@{
    ViewData["Title"] = "Patient Manager Service";
}
<div class="row">
    <div class="col-md-4">
        <h3>Using this project</h3>
        <p>
            This project includes support for:
            <ul>
                <li>APIs using Controllers (in the /Api and /ApiModels folders)</li>
                <li>Pages using Controllers and Views (in the /Controllers, /ViewModels, and /Views folders - keep /Views/Shared for Razor Pages though)</li>
            </ul>
        </p>
        <p>
            Provide feedback and report issues in the <a href="https://github.com/cliffordru/PatientManager" target="_blank">project's GitHub repository</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h3>APIs</h3>
        <ul>
            <li><a href="/swagger" target="_blank">API Documentation (Swagger)</a></li>
        </ul>        
    </div>
    <div class="col-md-4">
        <h3>About the Author</h3>
        <ul>           
            <li><a href="https://github.com/cliffordru" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/cliffgray2/" target="_blank">LinkedIn</a></li>
        </ul>        
    </div>
</div>
